<template>
  <div>
    <VueHtml2pdf
      :show-layout="false"
      :float-layout="true"
      :enable-download="true"
      :preview-modal="true"
      :paginate-elements-by-height="0"
      filename="myPDF"
      :pdf-quality="2"
      :manual-pagination="true"
      pdf-format="a4"
      pdf-orientation="landscape"
      pdf-content-width="800px"
      ref="html2Pdf"
    >
      <section slot="pdf-content">
        <!-- PDF Content Here -->
        <div v-for="(line, n) in $store.state.lines" v-bind:key="n">
          <div class="html2pdf__page-break" v-if="n % lineCount === 0 && n !== 0" />
          {{n}} {{n % lineCount}} {{ line }}
        </div>
      </section>
    </VueHtml2pdf>
    <button v-on:click="generateReport">Generate Report</button>
  </div>
</template>

<script>
import VueHtml2pdf from "vue-html2pdf";

export default {
  data() {
    return {
      lineCount: 40,
    };
  },
  components: {
    VueHtml2pdf,
  },
  methods: {
    generateReport() {
      this.$refs.html2Pdf.generatePdf();
    },
  },
};
</script>